/* variables */

@use "./functions" as func;

$bg-color: aliceblue;
$bg-dark: func.shade($bg-color, 25%);
$bg-very-dark: func.shade($bg-color, 50%);
$bg-light: func.tint($bg-color, 25%);
$bg-very-light: func.tint($bg-color, 50%);


$primary-color: teal;
$primary-dark: func.shade($primary-color, 25%);
$primary-very-dark: func.shade($primary-color, 50%);
$primary-light: func.tint($primary-color, 25%);
$primary-very-light: func.tint($primary-color, 50%);